.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  margin: 2rem 0 4rem 0;
}


.correct {
  background-color: green;
  color: white;
}

.btn {
  display: block;
  margin: 0.3rem auto;
  padding: 6px 16px;
  display: grid;
  gap: 20px;
}

li {
  border: 1px solid;
  padding: 6px;
  font-size: 20px;
  border-radius: 5px;
}
li:hover {
  cursor: pointer;
  color: #3990bb;
}