* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.centered {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centered div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.timer {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 3px solid white;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

ul {
  list-style: none;
  margin: 2rem 0 2rem 0;
}

.correct {
  background-color: green;
  color: white;
}

.btn {
  display: block;
  margin: 0.3rem auto;
  padding: 6px 16px;
  min-width: 10rem;
}

li {
  border: 1px solid;
  padding: 6px;
  font-size: 20px;
  border-radius: 5px;
  margin: 15px;
}
li:hover {
  cursor: pointer;
  color: #3990bb;
}
.grid > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;

}

.score {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 3px solid white;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}
.background{
  background: url('../img/Quiz.jpg') no-repeat center center;
  background-size:100% 100%
}
#start-game-button {
  padding: 20px 54px;
    outline: none;
    border: none;
    background: black;
    color: white;
    font-size: 1.3rem;
    position: absolute;
    /* top: 88%; */
    border-radius: 10px;
    box-shadow: 0 0 15px #fd56f5;
    bottom: 10%;
}
.question-background{
  padding: 50px;
    color: wheat;
    box-shadow: 0 0 20px;
    border-radius: 10px;
    background-color: rgba(0,9,52,0.9);
    width: 85%;
}

#next-question-button,#show-correct-answer-button{
  padding: 10px 25px;
    outline: none;
    border: none;
    background: rgb(8, 8, 8);
    color: white;
    font-size: 1.3rem;
    /* position: absolute; */
    /* top: 88%; */
    border-radius: 10px;
    box-shadow: 0 0 8px #7373e0;
    margin-bottom: 10px;
    /* bottom: 10%; */
}
.item-result{
  width: 100%;
    padding: 30px;
    background: black;
    color: wheat;
    box-shadow: inset 0 0 10px;
    font-size: 1.1rem;
}
